@font-face {
  font-family: "Lato Light";
  src: url("../fonts/Lato/Lato-Light.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/Lato/Lato-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato Bold";
  src: url("../fonts/Lato/Lato-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

.fll {
  font-family: "Lato Light", sans-serif;
}

.flr {
  font-family: "Lato Regular", sans-serif;
}

.flb {
  font-family: "Lato Bold", sans-serif;
}
