.notebook-bg {
    background-image: url('../img/cover.png');
    /*padding: 175px 0 175px 120px;*/
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.logo_name {
    font-family: 'Lato Light', sans-serif;    
    font-size: rem(48);
    /*padding-left: 197px;*/
    font-style: normal;    
}

.logo-top {
    font-size: rem(38);
}

.lead-top {
    font-size: rem(21);
}

.btn-order {
    background-color: #a4b9be;
    color: #fff;
    width: auto;
    max-width: 150px;
}
