.bg-slider {
    background: #a4b9be;
}

.bg-window {
    background: #58ad52;
}

.slider-text {
    color: #f1f1f1;
    font-size: rem(38);
}

.lead-slider {
    color: #fff;
    font-size: rem(21);
}
